.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333333;
    padding: 24px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 700;
        line-height: 37px;
    }

    &__cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        button {
            margin-right: 5px;
        }
    }
}