@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.btn {
    min-width: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    // padding: 8px 16px;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Size */

.btn__small {
    border-radius: 4px;
    padding: 2px 4px;
    
}

.btn__default {
    border-radius: 8px;
    padding: 8px 16px;
}


/* Contained */
.btn__contained_red {
    background-color: #FF5500;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #E94E00;
        // background-color: black;
    }
}

.btn__contained_orange {
    background-color: #FFA375;
}

/* Outlined */

.btn__outlined_red {
    border:1px solid #FF5500;
    color: #FF5500;
    background-color: transparent;

    transition: all .3s ease-in-out;
    &:hover {
        color: #E94E00;
        border: 1px solid #E94E00;
    }
}